@import "tailwindcss";

@theme {
  --color-primary: #6a5acd; /* Slate Blue */
  --color-accent: #b5b5b5; /* Coral */
  --color-background: #d3d3d3; /* Light Gray */
  --color-text: #36454f; /* Charcoal */

  --breakpoint-custom1050: 65.625rem; /* 1050px */
}
